In [1]:
import pandas as pd
import sqlalchemy as sqy
from sqlalchemy import  create_engine,Column,Integer,String,Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [10]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data')

# List of Column Names from the Adultnames file
ColumnNames= ['age','workclass','fnlwgt','education','educationNum','maritalStatus','occupation','relationship','race','sex','capitalGain','capitalLoss','hoursperweek','nativeCountry','salperyear']

df.columns = ColumnNamesColumnNames= ['age','workclass','fnlwgt','education','educationNum','maritalStatus','occupation','relationship','race','sex','capitalGain','capitalLoss','hoursperweek','nativeCountry','salperyear']
df.columns = ColumnNames

In [11]:
df.columns = ColumnNames

In [12]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educationNum',
       'maritalStatus', 'occupation', 'relationship', 'race', 'sex',
       'capitalGain', 'capitalLoss', 'hoursperweek', 'nativeCountry',
       'salperyear'],
      dtype='object')

In [13]:
engine = create_engine('sqlite:///:memory:', echo=False)

In [14]:
# Constructing the Base Class from declarative to create table from it 
Base = declarative_base() 

class Adult(Base):
    __tablename__ = 'adult'

    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    workclass = Column(String)
    fnlwgt = Column(Integer)
    education = Column(String)
    educationNum = Column(Integer)
    maritalStatus = Column(String)
    occupation = Column(String)
    relationship = Column(String)
    race = Column(String)
    sex = Column(String)
    capitalGain = Column(Integer)
    capitalLoss = Column(Integer)
    hoursperweek = Column(Integer)
    nativeCountry = Column(String)
    salperyear = Column(String)

In [15]:
    def __repr__(self):
        return "<Adult(age='%d', workclass='%s', fnlwgt='%d',education='%s', educationNum='%d',maritalStatus ='%s',occupation ='%s',relationship ='%s',race ='%s',sex ='%s',capitalGain ='%d',capitalLoss ='%d',hoursperweek ='%d',nativeCountry ='%s',salperyear ='%s')>" %(
    self.age, self.workclass,self.fnlwgt,self.education,self.educationNum,self.maritalStatus,self.occupation,self.relationship,self.race,self.sex,self.capitalGain,self.capitalLoss,self.hoursperweek,self.nativeCountry,self.salperyear)


# creating the Table in the Engine, i.e memory
Base.metadata.create_all(engine)

#binding the engine to the session 
SessionMaker = sessionmaker(bind=engine)

session = SessionMaker()

In [16]:
session

In [18]:
dict1 = (df.head().to_dict('index'))
for x in dict1.values():
    temp = Adult(**x)
    session.add(temp)
    
# Commit flushes all the new data in session to the Database in memmory 
session.commit()
    
print("Following are the records from the adult table in memory retrieved and printed :\n",'-'*80)    
# now retrieving the records from the session through query and printing 
for row in session.query(Adult).all():
    print(row)
    print('-'*80)

Following are the records from the adult table in memory retrieved and printed :
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BB00>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BB70>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BBE0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BC50>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A77426E48>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BCC0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BD30>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BDA0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747BE10>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FC50>
--------------------------------------------------------------------------------

In [19]:
print("Records having  50 years aged  \n",'-'*80)
for adt in session.query(Adult).filter(Adult.age == 50):
    print(adt)
    print('-'*80)

Records having  50 years aged
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FA90>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FD30>
--------------------------------------------------------------------------------

In [20]:
session.query(Adult).filter(Adult.age == 50).update({'hoursperweek' : 20})
session.commit()

print("After Updating hoursperweek to 20 and fetching records from DB \n",'-'*80)
for adt in session.query(Adult).filter(Adult.age == 50):
    print(adt)
    print('-'*80)

After Updating hoursperweek to 20 and fetching records from DB
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7747B7F0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FD30>
--------------------------------------------------------------------------------

In [21]:
print("Checking if record exists where workclass is not Private \n",'-'*80)
for adt in session.query(Adult).filter(Adult.workclass != ' Private'):
    print(adt)
    print('-'*80)
    
session.query(Adult).filter(Adult.workclass != ' Private').update({'workclass' : ' Private'})
session.commit()

print("After Updating Workclass to Private and fetching from DB \n",'-'*80)
for adt in session.query(Adult).all():
    print(adt)
    print('-'*80)

Checking if record exists where workclass is not Private
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7748D2E8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FD30>
--------------------------------------------------------------------------------
After Updating Workclass to Private and fetching from DB
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C860>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C8D0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C940>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C9B0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93CA20>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FD30>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93CA90>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93CB00>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93CB70>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FC50>
--------------------------------------------------------------------------------

In [23]:
Base.metadata.create_all(engine)

#binding the engine to the session 
SessionMaker = sessionmaker(bind=engine)

session = SessionMaker()

# adding the data in the session , by first converting first 5 records to dictionary and then accessing individiuallyusing addall to add multiple rows 

dict1 = (df.head().to_dict('index'))
for x in dict1.values():
    temp = Adult(**x)
    session.add(temp)
    
# Commit flushes all the new data in session to the Database in memmory 
session.commit()

In [25]:
print("Checking if record exists where workclass is not Private \n",'-'*80)
for adt in session.query(Adult).filter(Adult.workclass != ' Private'):
    print(adt)
    print('-'*80)
    
session.query(Adult).filter(Adult.workclass != ' Private').delete()
session.commit()

print("After Deleting and fetching from DB , check if  record now exists \n",'-'*80)
for adt in session.query(Adult).all():
    print(adt)
    print('-'*80)

Checking if record exists where workclass is not Private
 --------------------------------------------------------------------------------
After Deleting and fetching from DB , check if  record now exists
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FBA8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FC18>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FC88>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FCF8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FD68>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FDD8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FE48>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FEB8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FF28>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FF98>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A931048>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A9310B8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A931128>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A931198>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A931208>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A931278>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A9312E8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7AADA358>
--------------------------------------------------------------------------------

In [26]:
print("************ Query 2 *********** \n")
print("Checking if record exists where education Number is other than 13 \n",'-'*80)
for adt in session.query(Adult).filter(Adult.educationNum == 13).all():
    print(adt)
    print('-'*80)
    
session.query(Adult).filter(Adult.educationNum == 13).delete()
session.commit()

print("After Deleting the record , fetching from DB , if filtered record exists \n",'-'*80)
for adt in session.query(Adult).all():
    print(adt)
    print('-'*80)

************ Query 2 ***********

Checking if record exists where education Number is other than 13
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FEF0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F320>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F2E8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F3C8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FF98>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F400>
--------------------------------------------------------------------------------
After Deleting the record , fetching from DB , if filtered record exists
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F7B8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F7F0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F860>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F8D0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F940>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FA20>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92F9E8>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A92FB70>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A939080>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A9390F0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7746FA90>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7AADA358>
--------------------------------------------------------------------------------

In [27]:

print("To See those who have studied till masters  \n",'-'*80)
for adt in session.query(Adult).filter(Adult.education.like('%Masters%')):
    print(adt)
    print('-'*80)
    

#********************************************************************
#Query 2 : To see gender distribution by Country 

print("************ Query 2 *********** \n")

print("To See how many people have studied masters \n",'-'*80)
#print(session.query(Adult).filter(Adult.nativeCountry.like('%United-States%')).group_by(Adult.sex).count(Adult.sex))
print(session.query(Adult).filter(Adult.education.like('%Masters%')).count())

print('-'*80)

To See those who have studied till masters
 --------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93CF60>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C6A0>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7A93C630>
--------------------------------------------------------------------------------
<__main__.Adult object at 0x0000029A7AADA358>
--------------------------------------------------------------------------------
************ Query 2 ***********

To See how many people have studied masters
 --------------------------------------------------------------------------------
4
--------------------------------------------------------------------------------

In [28]:
from sqlalchemy import func

print("************ Query 1 *********** \n")

#Query 1 : To get gender distribution for country 

print("To show the gender distribution for country  \n",'-'*80)
print(session.query(Adult.nativeCountry,Adult.sex,func.count('*')).group_by(Adult.nativeCountry,Adult.sex).all())
print('-'*80)
    

#********************************************************************
#Query 2 : To see how many are married 

print("************ Query 2 *********** \n")

print("To See how many people are married \n",'-'*80)
print(session.query(Adult.maritalStatus,func.count('*')).group_by(Adult.maritalStatus).all())

print('-'*80)

************ Query 1 ***********

To show the gender distribution for country
 --------------------------------------------------------------------------------
[(' United-States', ' Female', 4), (' United-States', ' Male', 8)]
--------------------------------------------------------------------------------
************ Query 2 ***********

To See how many people are married
 --------------------------------------------------------------------------------
[(' Divorced', 4), (' Married-civ-spouse', 8)]
--------------------------------------------------------------------------------